{% extends "base.html" %}

{% block content %}
    <h1>About Us</h1>
    <p>Bethesda Blessing Church has been serving our community with faith and love.</p>
          <div class="service-times-box">
            <h3>Service Times</h3>
             <p>Sunday:9:00am to 1:00pm</p> 
             <p>Sunday Second Worship: 4:30pm to 6:00pm</p>
             <p>Tuesday Bible Study:6:30pm to 8:00pm</p>
             <p>Wednesday:Ladies Study:10:30pm to 1:00pm and Light of the World Gospel:10:00pm to 1:00am</p>
             <p>Friday Fasting Prayer:9:00am to 2:00pm</p>
             <p>Saturday Prayer:6:30pm to 8:00pm</p>
            <p>On Each Month's First Friday & Saturday: (Special Fasting Prayer for Family And Childrens)</p>
          </div>
{% endblock %}